{extend name="public/base" /}
{block name="style"}
<link rel="stylesheet" href="__THEME__/default/view/admin/static/css/module.css?v={:time_version()}">
{/block}

{block name="content-header"}
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">
					{$info['id']?'编辑':'新增'}SEO设置
				</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="{:Url('index/index')}">首页</a></li>
					<li class="breadcrumb-item"><a href="{:Url('seo/index')}">SEO设置</a></li>
					<li class="breadcrumb-item active">编辑</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{/block}

{block name="content-content"}
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">

				<form action="{:Url()}" method="post" class="form-horizontal">
					<div class="form-item">
						<label class="item-label">设置说明<span class="check-tips">（SEO设置的说明，仅后台可见）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
							{php}Hook::listen('getCoordinate',['name'=>'test','type'=>'baiduMap']);{/php}
							{php}Hook::listen('fileUploader',['name'=>'test']);{/php}
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">模块<span class="check-tips">（匹配的模块标识）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="module" value="{$info.module|default=''}">
							{php}Hook::listen('getCoordinate',['name'=>'test2','type'=>'baiduMap']);{/php}
							{php}Hook::listen('fileUploader',['name'=>'test2']);{/php}
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">控制器<span class="check-tips">（匹配的控制器标识）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="controller" value="{$info.controller|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">方法<span class="check-tips">（匹配的方法标识）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="action" value="{$info.action|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">SEO标题<span class="check-tips">（可使用变量）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="seo_title">{$info.seo_title|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">SEO关键词<span class="check-tips">（可使用变量）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="seo_keywords">{$info.seo_keywords|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">SEO描述<span class="check-tips">（可使用变量）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="seo_description">{$info.seo_description|default=''}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">优先级<span class="check-tips">（SEO生效顺序，仅最优先的1条生效）</span></label>
						<div class="controls">
							<input type="text" class="text input-small" name="sort" value="{$info.sort|default='0'}">
						</div>
					</div>
					<div class="form-item">
						<input type="hidden" name="id" value="{$info.id|default=''}">
						<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</form>

			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Main content -->
<!-- /.content -->
{/block}

{block name='script'}
<script src="__THEME__/default/view/admin/static/js/common.js?v={:time_version()}"></script>
<script type="text/javascript" charset="utf-8">
//导航高亮
highlight_subnav('{:Url('Config/index')}');
</script>
{/block}
