{extend name="public/base" /}
{block name="style_before"}
<link rel="stylesheet" href="__THEME__/default/view/admin/static/css/base.css?v={:time_version()}">
{/block}
{block name="style"}
<link rel="stylesheet" href="__THEME__/default/view/admin/static/css/module.css?v={:time_version()}">
{/block}

{block name="content-header"}
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">
					<h1>成员授权</h1>
				</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="{:Url('index/index')}">首页</a></li>
					<li class="breadcrumb-item"><a href="{:Url('authmanage/index')}">权限管理</a></li>
					<li class="breadcrumb-item active">成员授权</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{/block}

{block name="content-content"}
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">

				<div class="tab-wrap">
					<ul class="tab-nav nav">
						<li><a href="{:Url('Authmanage/access',array('group_name'=>input('group_name') ,'group_id'=> input('group_id')))}">访问授权</a></li>
						<li><a href="{:Url('Authmanage/category',array('group_name'=>input('group_name') ,'group_id'=> input('group_id')))}">分类授权</a></li>
						<li class="current"><a href="javascript:;">成员授权</a></li>
						<li class="fr">
							<select name="group">
								{volist name="auth_group" id="vo"}
								<option value="{:Url('Authmanage/user',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" {eq name="vo['id']" value="$this_group['id']"}selected{/eq} >{$vo.title}</option>
								{/volist}
							</select>
						</li>
					</ul>
					<!-- 数据列表 -->
					<div class="data-table table-striped">
						<table class="">
							<thead>
								<tr>
									<th class="">UID</th>
									<th class="">昵称</th>
									<th class="">最后登录时间</th>
									<th class="">最后登录IP</th>
									<th class="">状态</th>
									<th class="">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="_list" id="vo"}
								<tr>
									<td>{$vo.uid} </td>
									<td>{$vo.nickname}</td>
									<td><span>{$vo.last_login_time|time_format}</span></td>
									<td><span>{$vo.last_login_ip|long2ip}</span></td>
									<td>{$vo.status_text}</td>
									<td><a href="{:Url('Authmanage/removeFromGroup?uid='.$vo['uid'].'&group_id='.input('group_id'))}" class="ajax-get">解除授权</a>

									</td>
								</tr>
								{/volist}
							</tbody>
						</table>


					</div>
					<div class="main-title">
						<div class="page_nav fl">
							{$_page|raw}
						</div>
						<div id="add-to-group" class="tools fr">
							<form class="add-user" action="{:Url('addToGroup')}" method="post" enctype="application/x-www-form-urlencoded" >
								<input class="text input-4x" type="text" name="uid" placeholder="请输入uid,多个用英文逗号分隔">
								<input type="hidden" name="group_id" value="{:input('group_id')}">
								<button type="submit" class="btn ajax-post" target-form="add-user">新 增</button>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Main content -->
<!-- /.content -->
{/block}

{block name='script'}
<script src="__THEME__/default/view/admin/static/js/common.js?v={:time_version()}"></script>
<script type="text/javascript" charset="utf-8">
$('select[name=group]').change(function(){
	location.href = this.value;
});
//导航高亮
highlight_subnav('{:Url('Authmanage/index')}');
</script>
{/block}
