<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
		</li>
		{volist name="__MENU__.main" id="menu"}
		<li class="nav-item d-none d-sm-inline-block {present name="menu.class"}{eq name="menu.class" value="current"}active{/eq}{/present}">
			<a href="{$menu.url|Url}" class="nav-link">{$menu.title}</a>
		</li>
		{/volist}
	</ul>
	<!-- Right navbar links -->
	<ul class="navbar-nav ml-auto">
		<!-- Messages Dropdown Menu -->
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="fa fa-user"></i>&nbsp;{:session('user_auth.username')}
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<div class="card card-primary margin-none">
					<div class="card-body box-profile">
						<h3 class="profile-username text-center">你好 {:session('user_auth.username')}</h3>
						<ul class="list-group list-group-unbordered mb-3">
							<li class="list-group-item text-center">
                                <a href="{:Url('/admin/user/editPassword')}"><b>修改密码</b></a>
							</li>
							<li class="list-group-item text-center">
                                <a href="{:Url('/admin/common/logout')}"><b>退出</b></a>
							</li>
						</ul>

					</div>
					<!-- /.card-body -->
				</div>
			</div>
        </li><!-- /.nav-item -->
        {if check_rule("admin/help/index")}
		<li class="nav-item">
            <a class="nav-link" href="{:url("/admin/help/index")}">
				<i class="fa fa-question-circle"></i>帮助中心
			</a>
        </li><!-- /.nav-item -->
        {/if}
		<li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fa fa-th-large"></i></a>
        </li><!-- /.nav-item -->
    </ul>
</nav>
<!-- /.navbar -->
