.main-header{
	position:fixed;
	width:100%;
}

@media (min-width: 992px){
	.sidebar-mini.sidebar-collapse .main-header {
		margin-left: 0 !important;
	}
	.sidebar-mini.sidebar-collapse .main-header .navbar-nav:first-child{
		margin-left: 4.6rem !important;
	}
}

@media (min-width: 768px){
	.main-header {
		margin-left: 0;
	}
	.main-header .navbar-nav:first-child{
		transition: margin-left 0.3s ease-in-out;
		margin-left: 250px;
	}
}

@media (min-width: 768px){
	.sidebar-collapse .main-header {
		margin-left: 0;
	}
	.sidebar-collapse .main-header .navbar-nav:first-child{
		margin-left: 0;
	}
}

@media (max-width: 991.98px){
	.main-header, .main-header:before {
		margin-left: 0;
	}
	.main-header .navbar-nav:first-child{
		margin-left: 0;
	}
}
